@page "/transcribir"
@rendermode InteractiveServer
@inject ImageService imageService

<PageTitle>Transcribir Formulario</PageTitle>

<button @onclick="TranscribeImage">Transcribir</button>

@code {

    private async void TranscribeImage()
    {
        await imageService.TranscribeImage();
    }
}
