@page "/imagen-formulario"

<PageTitle>Imagen Formulario</PageTitle>

<div class="container">
    <div style="width: 50px; text-align: center; margin-right: auto; margin-left: auto;">
        <CargarFormulario />
    </div>
    <div id="image-container">
        <MostrarFormulario />
    </div>
    <TranscribirFormulario />
</div>


