@page "/form"
@attribute [StreamRendering]
@inject FormularioService formularioService

<div class="form-container">
    <h1> Digitalizador de formulario</h1>
    <EditForm Model="formularioService.FormularioData" OnSubmit="enviarFormulario">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="nombres" size="60" @bind-Value="formularioService.FormularioData.Nombres" placeholder="Nombres" />
        <p></p>
        <InputText id="apellidoPaterno" size="60" @bind-Value="formularioService.FormularioData.ApellidoPaterno" placeholder="Apellido Paterno" />
        <p></p>
        <InputText id="apellidoMaterno" size="60" @bind-Value="formularioService.FormularioData.ApellidoMaterno" placeholder="Apellido Materno" />
        <p></p>
        <InputText id="rut" size="60" @bind-Value="formularioService.FormularioData.Rut" placeholder="RUT" />
        <p></p>
        <InputText id="especialidad" size="60" @bind-Value="formularioService.FormularioData.Especialidad" placeholder="Especialidad" />
        <p></p>
        <InputText id="telefono" size="60" @bind-Value="formularioService.FormularioData.Telefono" placeholder="Teléfono" />
        <p></p>
        <p></p>
        <InputText id="nombreUnidad" size="60" @bind-Value="formularioService.FormularioData.NombreUnidad" placeholder="Nombre de la unidad" />
        <p></p>
        <InputTextArea id="detallesSituacion" rows="5" cols="63" @bind-Value="formularioService.FormularioData.Detalle" placeholder="Detalles de la situación" />
        <p></p>

        <button type="submit" style="width: 100%;">INGRESAR</button>

    </EditForm>
</div>

@code {
    void enviarFormulario() {

    }

    protected override void OnInitialized()
    {
        formularioService.OnDataChanged += StateHasChanged;

        formularioService.FormularioData = new FormularioTranscription
        {
            Nombres = "Nombres",
            ApellidoPaterno = "Apellido Paterno",
            ApellidoMaterno = "Apellido Materno",
            Rut = "Rut",
            Especialidad = "Especialidad",
            Telefono = "Telefono",
            NombreUnidad = "Nombre Unidad",
            Detalle = "Detalle"
        };
    }

    public void Dispose()
    {
        formularioService.OnDataChanged -= StateHasChanged;
    }
}
